<div class="grid-container">
  <div class="grid-item">A</div>
  <div class="grid-item">B</div>
  <div class="grid-item">C</div>
  <div class="grid-item">D</div>
  <div class="grid-item">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione explicabo
    ducimus saepe. Iure vitae laudantium debitis quod vero veritatis asperiores
    voluptate natus consequatur sed, molestias beatae, quidem incidunt repellat
    esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eos
    laboriosam placeat facilis possimus sunt aliquid modi earum pariatur animi
    rerum ea perferendis labore amet perspiciatis reiciendis, sequi fuga
    maiores.lorem
  </div>
  <div class="grid-item">F</div>
  <div class="grid-item">G</div>
  <div class="grid-item">H</div>
  <div class="grid-item">I</div>
  <div class="grid-item">J</div>
  <div class="grid-item">K</div>
  <div class="grid-item">L</div>
  <div class="grid-item">M</div>
  <div class="grid-item">N</div>
</div>
