<!-- munu-item을 클래스 이름으로 li 태그를 만들고 그안에
  menu-link라는 a태그를 4개만든다
  ul.menu>li.menu-item>a.menu-link
-->
<form class="search-form">
  <span class="logo">Neighbor</span>
  <input type="search" />
  <input type="submit" value="찾기" />
</form>
<ul class="menu">
  <li class="menu-item">
    <a href="#" class="menu-link">메일</a>
  </li>
  <li class="menu-item">
    <a href="#" class="menu-link">카페</a>
  </li>
  <li class="menu-item">
    <a href="#" class="menu-link">뉴스</a>
  </li>
  <li class="menu-item">
    <a href="#" class="menu-link">지식iN</a>
  </li>
</ul>

<ul class="info-list">
  <li class="info-list-item">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam facilis
    impedit explicabo at sint cum ipsum, sequi vitae adipisci quasi!
  </li>
  <li class="info-list-item">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illo ipsum
    praesentium tempora exercitationem. Dolore a, libero voluptas id quas
    pariatur doloribus excepturi laborum nesciunt blanditiis magni, fugiat
    aliquid. Nam aperiam ex, quia voluptatum fugiat minima quas accusamus
    aspernatur eum!
  </li>
  <li class="info-list-item">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quasi, iste
    itaque ab laboriosam reiciendis soluta non est aperiam? Ut consequatur sequi
    reprehenderit voluptates accusantium debitis, libero eveniet eos corrupti
    minus id quod, assumenda magni natus, repellat incidunt perferendis iusto
    vero laudantium praesentium labore! Possimus repellendus facere tempore
    earum sunt.
  </li>
</ul>
