<div class="page">
  <!-- header -->
  <header class="header">
    <h1 class="website-title">섭플릭스</h1>
    <form class="search-form">
      <input type="search" />
      <input type="submit" value="찾기" />
    </form>
  </header>
  <div class="modal-switch"></div>

  <!-- label을 클릭해서 checkbox아이디를 가리키고 있기때문에 동시에 체크 입력된다 -->
  <!-- '~'는 다음 모든 형제 '+'는 바로 그다음에오는 형제만 -->
  <input type="checkbox" id="modal-switch" />
  <label for="modal-switch">
    <span>modal 열고 닫기</span>
  </label>

  <!-- menu -->
  <ul class="menu">
    <li class="menu-item">
      <a href="#" class="menu-link">메일</a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link">카페</a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link">뉴스</a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link">지식iN</a>
    </li>
  </ul>

  <!-- <div class="content-container"> -->
  <!-- primary -->
  <section class="primary">
    <ul class="card-list">
      <li class="card-item">
        <figure
          class="card-image"
          style="
            background-image: url(../../assets/images/card-list/102372091.2.jpg);
          "
        ></figure>
        <div class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
          facilis!
        </div>
      </li>
      <li class="card-item">
        <figure
          class="card-image"
          style="
            background-image: url(../../assets/images/card-list/UFODYHQCQR45537DDCTZHOJREU.jpg);
          "
        ></figure>
        <div class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
          facilis!
        </div>
      </li>
      <li class="card-item">
        <figure
          class="card-image"
          style="
            background-image: url(../../assets/images/card-list/unnamed.png);
          "
        ></figure>
        <div class="card-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
          et distinctio sunt facere tempore adipisci sed minima cum quibusdam ad
          nobis quae dicta tenetur, magni natus qui quos rerum nemo quas numquam
          inventore recusandae. Minus, cupiditate quod! Eum vitae dolorem quod
          velit. Facere veritatis amet quas accusamus dicta quidem dolore
          aliquid! Recusandae amet unde quia magni tempora sequi praesentium
          rem, earum fuga ea quaerat, voluptatem fugit placeat nulla quos culpa?
        </div>
      </li>
      <li class="card-item">
        <figure
          class="card-image"
          style="
            background-image: url(../../assets/images/card-list/내일그대와.jpg);
          "
        ></figure>
        <div class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
          facilis!
        </div>
      </li>
      <li class="card-item">
        <figure
          class="card-image"
          style="
            background-image: url(../../assets/images/card-list/다운로드.jpg);
          "
        ></figure>
        <div class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
          facilis!
        </div>
      </li>

      <li class="card-item">
        <figure
          class="card-image"
          style="
            background-image: url(../../assets/images/card-list/254417260.jpg);
          "
        ></figure>
        <div class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
          facilis!
        </div>
      </li>
      <li class="card-item">
        <figure
          class="card-image"
          style="
            background-image: url(../../assets/images/card-list/응답하라-1988.jpg);
          "
        ></figure>
        <div class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
          facilis!
        </div>
      </li>
      <li class="card-item">
        <figure
          class="card-image"
          style="
            background-image: url(../../assets/images/card-list/경이로운소문.jpg);
          "
        ></figure>
        <div class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
          facilis!
        </div>
      </li>
      <li class="card-item">
        <figure
          class="card-image"
          style="
            background-image: url(../../assets/images/card-list/슬기로운의사생활.jpg);
          "
        ></figure>
        <div class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
          facilis! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Neque, facilis!
        </div>
      </li>
      <li class="card-item">
        <figure
          class="card-image"
          style="
            background-image: url(../../assets/images/card-list/쌍갑포차.jpg);
          "
        ></figure>
        <div class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          harum cumque sed reprehenderit, quisquam, expedita maxime odit fugiat
          ab eaque commodi, facere error praesentium. Nisi doloribus tempora
          magnam ducimus rem eum placeat asperiores nostrum nulla sint? Aut
          debitis consequatur, temporibus cupiditate incidunt, quaerat animi
          quis rem at eum dolores et!
        </div>
      </li>

      <li class="card-item">
        <figure
          class="card-image"
          style="
            background-image: url(../../assets/images/card-list/이태원클라쓰.jpg);
          "
        ></figure>
        <div class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
          facilis!
        </div>
      </li>
    </ul>
  </section>
  <!-- side-a -->

  <aside class="side side-a">
    <ul class="info-list">
      <li class="info-list-item">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
        facilis impedit explicabo at sint cum ipsum, sequi vitae adipisci quasi!
      </li>
      <li class="info-list-item">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illo
        ipsum praesentium tempora exercitationem. Dolore a, libero voluptas id
        quas pariatur doloribus excepturi laborum nesciunt blanditiis magni,
        fugiat aliquid. Nam aperiam ex, quia voluptatum fugiat minima quas
        accusamus aspernatur eum!
      </li>
      <li class="info-list-item">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quasi,
        iste itaque ab laboriosam reiciendis soluta non est aperiam? Ut
        consequatur sequi reprehenderit voluptates accusantium debitis, libero
        eveniet eos corrupti minus id quod, assumenda magni natus, repellat
        incidunt perferendis iusto vero laudantium praesentium labore! Possimus
        repellendus facere tempore earum sunt.
      </li>
    </ul>

    <!-- ul.user-list.message-list -->

    <div class="user-list-title">친구목록</div>
    <div class="tri"></div>

    <ul class="userlist friend-list">
      <li class="user-item friend-item">
        <figure class="friend-photo"></figure>
        <p class="user-name">귀여운 피치/ peach1@kakao.com</p>
      </li>
      <li class="user-item friend-item">
        <figure class="friend-photo"></figure>
        <p class="user-name">깜찍한 피치peach1@gmail.com</p>
      </li>
    </ul>
  </aside>
  <!-- side-b -->
  <aside class="side side-b">
    <ul class="user-list message-list">
      <!-- li.user-item.message-item -->
      <li class="user-item message-item">
        <!-- background로 사용시 규격이 다른 img를 일정하게 컨트롤할 수있어서 사용 -->
        <figure class="user-photo"></figure>
        <p class="message-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          distinctio reprehenderit consequatur atque repudiandae eos ullam earum
          vero rem ipsum facilis delectus quasi, eligendi dignissimos
          consequuntur aperiam sapiente natus eveniet.
        </p>
      </li>

      <li class="user-item message-item">
        <figure class="user-photo"></figure>
        <p class="message-content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla,
          deserunt?
        </p>
      </li>
      <li class="user-item message-item">
        <figure class="user-photo"></figure>
        <p class="message-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
          error vitae repudiandae dolor repellendus nostrum eveniet cumque
          dolorum nisi eaque, voluptatum velit, recusandae omnis vel nulla,
          aperiam minima facere delectus?
        </p>
      </li>
    </ul>
  </aside>
  <!--   </div> -->
  <!-- footer -->
  <footer class="footer">
    <ul class="footer-list">
      <li class="footer-itemr"><a href="#">이용약관</a></li>
      <li class="footer-itemr"><a href="#">개인취급방침</a></li>
      <li class="footer-itemr"><a href="#">사이트맵</a></li>
    </ul>
    <span class="copyright"
      >Copyright ⓒ 2020 welecome Subflix.<br />All Rights Reserved</span
    >
  </footer>

  <div class="modal">
    <div class="dialog">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem,
      consequatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Exercitationem, laborum beatae quisquam ut officiis vitae. Architecto
      exercitationem delectus quisquam error quae fuga animi ex officia, neque,
      voluptas est itaque provident.
      <section class="btn_wrap">
        <button class="confirm">확인</button>
        <button class="cancle">취소</button>
      </section>
    </div>
  </div>
</div>
