<ul class="card-list">
  <li class="card-item">
    <figure
      class="card-image"
      style="
        background-image: url(../../assets/images/card-list/102372091.2.jpg);
      "
    ></figure>
    <div class="card-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, facilis!
    </div>
  </li>
  <li class="card-item">
    <figure
      class="card-image"
      style="
        background-image: url(../../assets/images/card-list/UFODYHQCQR45537DDCTZHOJREU.jpg);
      "
    ></figure>
    <div class="card-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, facilis!
    </div>
  </li>
  <li class="card-item">
    <figure
      class="card-image"
      style="background-image: url(../../assets/images/card-list/unnamed.png)"
    ></figure>
    <div class="card-desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis et
      distinctio sunt facere tempore adipisci sed minima cum quibusdam ad nobis
      quae dicta tenetur, magni natus qui quos rerum nemo quas numquam inventore
      recusandae. Minus, cupiditate quod! Eum vitae dolorem quod velit. Facere
      veritatis amet quas accusamus dicta quidem dolore aliquid! Recusandae amet
      unde quia magni tempora sequi praesentium rem, earum fuga ea quaerat,
      voluptatem fugit placeat nulla quos culpa?
    </div>
  </li>
  <li class="card-item">
    <figure
      class="card-image"
      style="
        background-image: url(../../assets/images/card-list/내일그대와.jpg);
      "
    ></figure>
    <div class="card-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, facilis!
    </div>
  </li>
  <li class="card-item">
    <figure
      class="card-image"
      style="background-image: url(../../assets/images/card-list/다운로드.jpg)"
    ></figure>
    <div class="card-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, facilis!
    </div>
  </li>

  <li class="card-item">
    <figure
      class="card-image"
      style="background-image: url(../../assets/images/card-list/254417260.jpg)"
    ></figure>
    <div class="card-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, facilis!
    </div>
  </li>
  <li class="card-item">
    <figure
      class="card-image"
      style="
        background-image: url(../../assets/images/card-list/응답하라-1988.jpg);
      "
    ></figure>
    <div class="card-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, facilis!
    </div>
  </li>
  <li class="card-item">
    <figure
      class="card-image"
      style="background-image: url(../../assets/images/ilbuni.png)"
    ></figure>
    <div class="card-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, facilis!
    </div>
  </li>
  <li class="card-item">
    <figure
      class="card-image"
      style="background-image: url(../../assets/images/ilbuni.png)"
    ></figure>
    <div class="card-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, facilis!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, facilis!
    </div>
  </li>
  <li class="card-item">
    <figure
      class="card-image"
      style="background-image: url(../../assets/images/ilbuni.png)"
    ></figure>
    <div class="card-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti harum
      cumque sed reprehenderit, quisquam, expedita maxime odit fugiat ab eaque
      commodi, facere error praesentium. Nisi doloribus tempora magnam ducimus
      rem eum placeat asperiores nostrum nulla sint? Aut debitis consequatur,
      temporibus cupiditate incidunt, quaerat animi quis rem at eum dolores et!
    </div>
  </li>

  <li class="card-item">
    <figure
      class="card-image"
      style="background-image: url(../../assets/images/ilbuni.png)"
    ></figure>
    <div class="card-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, facilis!
    </div>
  </li>
</ul>
