<!-- <div class="flex_container">
  <div class="flex_item">AAAAA</div>
  <div class="flex_item">BB</div>
  <div class="flex_item">last-child</div>
</div>
 -->

<!-- 가운데만 가변으로 변하는 컨테이너-->
<!-- <div class="flex_container">
  <div class="flex_item">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, ipsum.
  </div>
  <div class="flex_item">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed fugit ratione
    excepturi recusandae blanditiis eaque beatae eveniet dolores, mollitia
    molestias!
  </div>
  <div class="flex_item">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vitae
    laborum, voluptatibus ad laudantium dolores? Fugiat laborum ducimus aut
    unde.
  </div>
</div> -->

<div class="flex_container">
  <header class="header flex_item">header</header>
  <section class="content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam consequatur
    accusantium nihil magnam molestiae. Est eaque a voluptatem! Fugiat quis amet
    cumque recusandae molestiae a laudantium impedit esse? Ut, eos! Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Totam consequatur accusantium
    nihil magnam molestiae. Est eaque a voluptatem! Fugiat quis amet cumque
    recusandae molestiae a laudantium impedit esse? Ut, eos! Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Totam consequatur accusantium nihil
    magnam molestiae. Est eaque a voluptatem! Fugiat quis amet cumque recusandae
    molestiae a laudantium impedit esse? Ut, eos! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Totam consequatur accusantium nihil magnam
    molestiae. Est eaque a voluptatem! Fugiat quis amet cumque recusandae
    molestiae a laudantium impedit esse? Ut, eos! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Totam consequatur accusantium nihil magnam
    molestiae. Est eaque a voluptatem! Fugiat quis amet cumque recusandae
    molestiae a laudantium impedit esse? Ut, eos! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Totam consequatur accusantium nihil magnam
    molestiae. Est eaque a voluptatem! Fugiat quis amet cumque recusandae
    molestiae a laudantium impedit esse? Ut, eos! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Totam consequatur accusantium nihil magnam
    molestiae. Est eaque a voluptatem! Fugiat quis amet cumque recusandae
    molestiae a laudantium impedit esse? Ut, eos! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Totam consequatur accusantium nihil magnam
    molestiae. Est eaque a voluptatem! Fugiat quis amet cumque recusandae
    molestiae a laudantium impedit esse? Ut, eos! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Totam consequatur accusantium nihil magnam
    molestiae. Est eaque a voluptatem! Fugiat quis amet cumque recusandae
    molestiae a laudantium impedit esse? Ut, eos! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Totam consequatur accusantium nihil magnam
    molestiae. Est eaque a voluptatem! Fugiat quis amet cumque recusandae
    molestiae a laudantium impedit esse? Ut, eos!
  </section>
  <footer class="footer flex_item">footer</footer>
</div>
