/* li{
  color: red;
}

hl{
  color: red;
}
 */

 //부모 클래스에 포함된 하위요소(자식)들은 모두 적용
 .inheritence_container{
   color: red;//상속
   border : 1px solid red;//상속되지 않음
   //상속하는 속성과 상속하지 않는 속성

 }

 #child{
   color:skyblue;
 }

 //https://www.w3.org/TR/CSS21/propidx.html
 /* 상속과 상속이되지 않는 속성을 확인 하려면 해당 리스트 참조 */



