<!-- ul.user-list.message-list -->
<ul class="user-list message-list">
  <!-- li.user-item.message-item -->
  <li class="user-item message-item">
    <!-- background로 사용시 규격이 다른 img를 일정하게 컨트롤할 수있어서 사용 -->
    <figure class="user-photo"></figure>
    <p class="message-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
      distinctio reprehenderit consequatur atque repudiandae eos ullam earum
      vero rem ipsum facilis delectus quasi, eligendi dignissimos consequuntur
      aperiam sapiente natus eveniet.
    </p>
  </li>

  <li class="user-item message-item">
    <figure class="user-photo"></figure>
    <p class="message-content">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla, deserunt?
    </p>
  </li>
  <li class="user-item message-item">
    <figure class="user-photo"></figure>
    <p class="message-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      error vitae repudiandae dolor repellendus nostrum eveniet cumque dolorum
      nisi eaque, voluptatum velit, recusandae omnis vel nulla, aperiam minima
      facere delectus?
    </p>
  </li>
</ul>

<!-- 친구목록 -->
<div class="user-list-title">친구목록</div>
<div class="tri"></div>

<ul class="userlist friend-list">
  <li class="user-item friend-item">
    <figure class="friend-photo"></figure>
    <p class="user-name">귀여운 피치/ peach1@kakao.com</p>
  </li>
  <li class="user-item friend-item">
    <figure class="friend-photo"></figure>
    <p class="user-name">깜찍한 피치peach1@gmail.com</p>
  </li>
</ul>
