<!-- <div class="grid-container">
  <div class="grid-item">A</div>
  <div class="grid-item">B</div>
  <div class="grid-item">C</div>
  <div class="grid-item">D</div>
  <div class="grid-item">E</div>
  <div class="grid-item">F</div>
  <div class="grid-item">G</div>
  <div class="grid-item">H</div>
  <div class="grid-item">I</div>
</div> -->

<!-- 컨텐츠  영역자동으로 채우기 -->
<div class="grid-container">
  <div class="grid-item">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente
    tenetur eveniet consequuntur quae voluptas pariatur blanditiis? Nesciunt
    provident laudantium et, consequuntur doloribus consequatur, hic praesentium
    libero asperiores, magni modi.
  </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <!--   <div class="grid-item">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, optio?
  </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item">Lorem ipsum dolor sit amet.</div>
  <div class="grid-item"></div>
  <div class="grid-item"></div> -->
</div>
