<div class="container">
  <section class="item item-a">
    <h1>Section  a</h1>
    <p>
      section a의 내용입니다. 새해복 많이 받으세요!
      항상 주어진 업무에서 배울 수 있는 부분을 찾고,
      책임감있게 수행해나가는 개발자가 되겠습니다.

    </p>
  </section>
  <!--item 띄어쓰기를 통해 item-a, item-b 공통 속성 적용가능하다-->

  <!--html에 문서에 들여쓰기로 인한 공백 인식으로 100%를 넘어 inline-block속성이 적용되지 않음
  따라서 item들을 감싸고 있는 부모의 container class의 font-size: 0;을 적용하면된다.
  하지만 부모의 font-size를 0으로 지정하게 되면 하위 자식 클래스에게 모두 적영되어 글씨가 사라지게되므로
  각 자식의 font-size속성을 지정해주도록 하자 -->
  <section class="item item-b">
    <h1>Section b</h1>
    <p>
      section b의 내용입니다아 섹션 b의 내용을 가지고 2021년 새해 css로 진행해볼까요오
    </p>
  </section>

  <footer>footer</footer>
</div>
