<div class="grid-container">
  <div class="header grid-item">header</div>
  <div class="sidebar-a grid-item">sidebar A</div>
  <div class="sidebar-b grid-item">sideBar B</div>
  <div class="main grid-item">
    Main Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt odit
    eligendi dicta ipsam magnam, error optio deserunt similique tempore
    voluptatem eum est, magni ducimus et quasi nemo tenetur aperiam architecto
    nostrum eveniet. Perspiciatis, dolor adipisci similique modi voluptatibus
    animi? Quam tenetur fugiat at excepturi aliquam incidunt ex impedit tempore
    eaque adipisci, qui quia itaque sed rerum perferendis animi accusantium
    doloribus quod id quibusdam natus magnam assumenda. Accusamus neque magnam
    architecto cumque quisquam veniam repellat? Sequi excepturi aperiam ab
    accusantium asperiores quos, aliquam magni quam tempore quibusdam unde
    consequatur nisi earum suscipit doloribus nesciunt dicta rerum aut aliquid
    labore. Amet, quisquam vel! Enim quae, maxime quos eos itaque aliquam
    inventore quod ipsam excepturi dolor, maiores officiis ut cumque minus
    explicabo dolorem, aspernatur sequi repellat minima. Quis molestiae illo
    quos facere iusto nobis provident libero placeat fuga esse officia nisi
    illum minima sit nam, voluptate quae ipsam commodi in. Dignissimos mollitia
    repellat corporis. Totam consequatur, voluptatem atque veritatis officia,
    nobis commodi placeat dolore officiis corporis dolorem necessitatibus quas
    quis rem dicta iste, voluptatibus nam quaerat adipisci laborum pariatur.
    Aliquam ipsam, qui officia, ratione dignissimos animi eum, in omnis
    consectetur at blanditiis explicabo. Ex, ducimus dolorem sapiente aliquid
    voluptas reprehenderit eum. Asperiores, iste.
  </div>
  <div class="footer grid-item">Footer</div>
</div>
