<div class="container">
  <div class="item">
    <div class="header_left">뒤로가기</div>
    <div class="header_center"><span>이름</span></div>
    <div class="header_right">오른쪽 아이템</div>
  </div>
  <div class="item">
    <div class="main_item">title</div>
    <div class="main_item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, aut.
    </div>
    <div class="main_item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
      distinctio dicta asperiores omnis? Fugit cumque iste quidem quas vel
      corporis maxime illum omnis! Aperiam, assumenda? Eaque expedita debitis
      eveniet quaerat?
    </div>
    <div class="main_item">하</div>
  </div>
  <div class="item">footer</div>
</div>
