h1, a{
  border: red solid 1px;
}

//h1은 block으로써 자신이 포함된 영역을 전체 활용하지만
//display : inline으로 속성값을 변경하면 자신의 contents영역만 할당되는 것을 확인할 수 있다.
h1{display: inline;}

//태그들의 높이 여백 등 부피감을 결정
p,a {
  /* border-width: 10px;
  border-style: solid;
  border-color: red; */

  border: 10px solid red;
  //box 내부와 content와의 간격
  padding: 20px;


  //전역에 css 를 h1,p 를 margin 0으로 두었지만
  padding:40px;
  width: 140px;
  height: 200px;

  //inline에서는 padding을 제외한 width와 height가 적용되지 않음 또한 확인해볼 수 있다.
}
