<ul class="card-list">
  <li class="card-item">
    <figure
      class="card-image"
      style="
        background-image: url(../../../assets/images/card-list/UFODYHQCQR45537DDCTZHOJREU.jpg);
      "
    ></figure>
    <span class="card-title">나의아저씨</span>
    <div class="card-desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate,
      cupiditate.
    </div>
  </li>

  <li class="card-item">
    <figure
      class="card-image"
      style="
        background-image: url(../../../assets/images/card-list/102372091.2.jpg);
      "
    ></figure>
    <span class="card-title">사이코지만 괜찮아</span>
    <div class="card-desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate,
      cupiditate. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Voluptate, cupiditate. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Voluptate, cupiditate.
    </div>
  </li>

  <li class="card-item">
    <figure
      class="card-image"
      style="
        background-image: url(../../../assets/images/card-list/내일그대와.jpg);
      "
    ></figure>
    <span class="card-title">내일 그대와</span>
    <div class="card-desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate,
      cupiditate.
    </div>
  </li>

  <li class="card-item">
    <figure
      class="card-image"
      style="
        background-image: url(../../../assets/images/card-list/unnamed.png);
      "
    ></figure>
    <span class="card-title">인간수업</span>
    <div class="card-desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate,
      cupiditate.
    </div>
  </li>

  <li class="card-item">
    <figure
      class="card-image"
      style="
        background-image: url(../../../assets/images/card-list/다운로드.jpg);
      "
    ></figure>
    <span class="card-title">도깨비</span>
    <div class="card-desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate,
      cupiditate.
    </div>
  </li>
</ul>
