ol,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
figure {
  margin: 0px;
}

/* card list */
.card-item {
  margin-bottom: 2rem;
  background-color: peru;
}

/* 크기와 모양이 다른 이미지를 쉽게 컨트롤하기 위해 bg드로 사용하는것이 유용  */

.card-image {
  height: 0;
  padding-bottom: 86%; /* 가로세로 비율이 유지되도록 하기 위함 */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-image img {
  display: none;
}

.card-title {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bolder;
}
.card-desc {
  padding: 1rem;
}

@media (min-width: 600px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }

  .card-item {
    width: 50%;
  }
  .card-title {
    margin-top: 10px;
  }
}

@media (min-width: 1000px) {
  .card-item {
    width: 33.33333%;
  }
}
