/* align-self 적용 */
/*.flex_container {
  display: flex;
  height: 100vh;
  align-items: center;
}


 .flex_item {
  //flex: 1 1 auto;
  flex: 1;
}

.flex_item:nth-child(2) {
  align-self: stretch;
}
.flex_item:last-child {
} */

/* 아이템 배치순서  */
/* .flex_container {
  display: flex;
  align-items: center;
}

.flex_item:nth-child(1) {
  order: 3;
}

.flex_item:nth-child(2) {
  order: 10;
}

.flex_item:nth-child(3) {
  order: 1;
} */

/* z-index 기본값은 0, postion:relative  z-index와 유사 */
.flex_container {
  display: flex;
  align-items: center;
}

.flex_item {
  opacity: 0.7;
  flex: 1;
}
.flex_item:nth-child(1) {
  transform: scale(1.2);
  z-index: 3;
  order: 3;
  background-color: hotpink;
}

.flex_item:nth-child(2) {
  transform: scale(1.2);
  z-index: 1;
  order: 1;
  background-color: lightgreen;
  text-align: center;
}

.flex_item:nth-child(3) {
  transform: scale(1.7);
  z-index: 1;
  order: 2;
  background-color: lightslategray;
  color: red;
}
